<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CleanLoad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CleanLoad.Properties.Settings>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyIsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
        </CleanLoad.Properties.Settings>
    </userSettings>
</configuration>